ion-col {
    --border-radius: 10px
}

ion-item {
    --background: #fff;
    margin-bottom: 20px;
    border: none;
    --border-color: none;
    --border-style: none;
    --border-radius:10px;
    ion-avatar{
        width: 20px;
        height: 100%;
    }
    span.price{
        display: block;
        color: #e69414;
        font-weight: bold
    }
}
