<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="profile"></ion-back-button>
        </ion-buttons>
        <ion-title>EDITAR PERFIL</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="isConnected">
        <ion-grid>
            <ion-row justify-content-center align-items-center style='height: 100%'>
                <ion-col size="12">
                    <ion-item class="ion-item-border">
                        <ion-label>
                            <ion-icon name="person" item-left></ion-icon>
                        </ion-label>
                        <ion-input name="nombre" [(ngModel)]="user.nombre" type="text" placeholder="Nombre" required></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <ion-icon name="male" item-left></ion-icon>
                            Sexo
                        </ion-label>
                        <ion-select name="sexo" [(ngModel)]="user.sexo" placeholder="Selecciona">
                            <ion-select-option value="FEMENINO">Femenino</ion-select-option>
                            <ion-select-option value="MASCULINO">Masculino</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item class="ion-item-border">
                        <ion-label>
                            <ion-icon name="mail" item-left></ion-icon>
                        </ion-label>
                        <ion-input name="email" [(ngModel)]="user.email" type="email" placeholder="Email" required></ion-input>
                    </ion-item>
                    <ion-item class="ion-item-border">
                        <ion-label>
                            <ion-icon name="call" item-left></ion-icon>
                        </ion-label>
                        <ion-input name="phoneNumber" [(ngModel)]="user.telefonos" type="number" placeholder="Telefono" required></ion-input>
                    </ion-item>
                    <ion-item class="ion-item-border">
                        <ion-label>
                            <ion-icon name="lock" item-left></ion-icon>
                        </ion-label>
                        <ion-input name="contrasena" [(ngModel)]="contrasena" type="password" placeholder="Password" required></ion-input>
                    </ion-item>
                    <ion-item class="ion-item-border">
                        <ion-label>
                            <ion-icon name="lock" item-left></ion-icon>
                        </ion-label>
                        <ion-input name="contrasena2" [(ngModel)]="contrasena2" type="password" placeholder="Confirmar Password" required></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div size="12" align="center">
                <ion-button color="primary" (click)="editarPerfil()">Actualizar</ion-button>
        </div>
    </div>
    <div *ngIf="!isConnected" align="center" style="width:100%height:100%;background:translucent;z-index:4000;" >
        <ion-img src="assets/error_icon.jpg" style="height:145px;width:145px;margin-bottom:10%;margin-top:40%"></ion-img>
        <br />
        <ion-label color="light" >ESTAS DESCONECTADO</ion-label>
        <br />
        <ion-label color="light">POR FAVOR VERIFICA TU CONEXION A INTERNET E INTENTALO NUEVAMENTE</ion-label>
    </div>
</ion-content>
