#user{
    text-align: center;
    span{color:  #B1935F;}
}
ion-grid{
    ion-row{
        //background: #fafafa;
        padding: 6px 10px;
        margin: 10px;
        border-radius: 8px;
        
        ion-item {
            margin-bottom: 10px;    
        }
    }
}
label{
    font-size: 0.8rem;
}
