
.recover-password{
    text-align: center;
    text-decoration: none;
    color: #b7b7b7;
    margin-top: 15px;
    margin-bottom: 13px;
    font-size: 15px;
}

.title{
    color: #fff;
    text-transform:uppercase;
    text-align: center;
}
.facebook{
    --background	: #25628a;
}
.google{
    --background	: #bd4036;
}

.footer-md:before{display: none; visibility: hidden;}
ion-footer{
    text-align: center;
    a{color: #fff}
}
.logo{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
