<ion-content padding>
    <ion-row justify-content-center>
        <ion-col align-self-center size="12" class="logo">
            <ion-img src="/assets/logo.png"></ion-img>
        </ion-col>
    </ion-row>
    <form>
        <ion-grid>
            <ion-row justify-content-center align-items-center style='height: 100%'>
                <ion-col size="12">
                    <ion-item class="ion-item-border">
                        <ion-label>
                            <ion-icon name="mail" item-left></ion-icon>
                        </ion-label>
                        <ion-input name="email" type="email" [(ngModel)]="credenciales.email" placeholder="Correo electrónico" required></ion-input>
                    </ion-item>
                    <ion-item class="ion-item-border">
                        <ion-label>
                            <ion-icon name="lock" item-left></ion-icon>
                        </ion-label>
                        <ion-input name="password" type="password" [(ngModel)]="credenciales.password" placeholder="Contraseña" required></ion-input>
                    </ion-item>
                    <ion-button class="box-shadow h-48" (click)="iniciarSesion()" routerDirection="root" expand="block" style="margin-top:10%">INGRESAR</ion-button>
                </ion-col>
                <!-- <ion-col style="margin-top:20%!important;text-align:center;">
                    <ion-label class="recover-password">AUTENTICARME CON FACEBOOK</ion-label>
                </ion-col> -->
            </ion-row>
            <!-- <ion-row>
                <ion-col size="12">
                    <ion-button expand="block" (click)="loginFB()" class="facebook h-48">Facebook</ion-button>
                </ion-col>
            </ion-row> -->
        </ion-grid>
    </form>

</ion-content>
<ion-footer no-shadow >
    <ion-toolbar justify-content-center position="bottom">
        <a routerLink="/register/">Registrate</a>
    </ion-toolbar>
</ion-footer>
