<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start"> <ion-back-button defaultHref="categories"></ion-back-button> </ion-buttons>
        <ion-title>PROMOCIONES</ion-title>
        <ion-buttons slot="end"> <ion-menu-button></ion-menu-button></ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
