ion-col {
    >ion-card {
        background: !important;
        position: relative!important;
        img{
            padding: 0;
        }
        ion-card-header{
            position: absolute;
            bottom: 0;
            width: 100% ;
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,0.9108018207282913) 0%, rgba(0,0,0,0.5326505602240896) 60%, rgba(0,0,0,0) 100%);
            padding: 15px 0 9px;
            ion-card-title{
                color: #fff;
                text-transform: uppercase;
                font-size: 0.8rem;
                text-align: center;
            }
        }

    }
    >ion-item {
        background: transparent!important;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        --background: rgba(0,0,0,0);
        --border-color: rgba(0,0,0,0);
        ion-avatar {
            --border-radius: 0;
            margin:10px auto;
        }
        ion-label{
            color:#000;
        }
    }
}
