<ion-header>
    <ion-toolbar>
        <ion-title class="font-primary">CATEGORIAS</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-grid>
        <ion-row *ngIf="isConnected">
            <ion-col size="6" *ngFor="let data of categorias" (click)="verProductos(data)">
                <ion-card style="min-height:140px;max-height:140px; background-image: url({{ data.imagenCat == null ? 'assets/icon.jpg' : data.imagenCat }})">

                    <img style="min-height:120px;max-height:120px" src="{{ data.imagenCat == null ? 'assets/icon.jpg' : data.imagenCat }}">
                    <ion-card-header>
                        <ion-card-title>{{data.categoria }}</ion-card-title>
                    </ion-card-header>

                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>
    <div *ngIf="!isConnected" align="center" style="width:100%height:100%;background:translucent;z-index:4000;" (click)="obtenerCategorias()" >
        <ion-img src="assets/error_icon.jpg" style="height:145px;width:145px;margin-bottom:10%;margin-top:40%"></ion-img>
        <br />
        <ion-label color="light" >ESTAS DESCONECTADO</ion-label>
        <br />
        <ion-label color="light">POR FAVOR VERIFICA TU CONEXION A INTERNET E INTENTALO NUEVAMENTE</ion-label>
    </div>

</ion-content>
