// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {


    --ion-background-color: #242424;
    --ion-background-color-rgb: 36,36,36;

    --ion-text-color: #949494;
    --ion-text-color-rgb: 77,77,77;

    --ion-color-step-50: #262626;
    --ion-color-step-100: #282828;
    --ion-color-step-150: #2a2a2a;
    --ion-color-step-200: #2c2c2c;
    --ion-color-step-250: #2e2e2e;
    --ion-color-step-300: #303030;
    --ion-color-step-350: #323232;
    --ion-color-step-400: #343434;
    --ion-color-step-450: #363636;
    --ion-color-step-500: #393939;
    --ion-color-step-550: #3b3b3b;
    --ion-color-step-600: #3d3d3d;
    --ion-color-step-650: #3f3f3f;
    --ion-color-step-700: #414141;
    --ion-color-step-750: #434343;
    --ion-color-step-800: #454545;
    --ion-color-step-850: #474747;
    --ion-color-step-900: #494949;
    --ion-color-step-950: #4b4b4b;

    --ion-color-primary: #B1935F;
    --ion-color-primary-rgb: 177,147,95;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #9c8154;
    --ion-color-primary-tint: #b99e6f;

    --ion-color-secondary: #9A9A9A;
    --ion-color-secondary-rgb: 154,154,154;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #888888;
    --ion-color-secondary-tint: #a4a4a4;

    --ion-color-tertiary: #242424;
    --ion-color-tertiary-rgb: 36,36,36;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #202020;
    --ion-color-tertiary-tint: #3a3a3a;

    --ion-color-success: #0ca348;
    --ion-color-success-rgb: 12,163,72;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #0b8f3f;
    --ion-color-success-tint: #24ac5a;

    --ion-color-warning: #d7ac00;
    --ion-color-warning-rgb: 215,172,0;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #bd9700;
    --ion-color-warning-tint: #dbb41a;

    --ion-color-danger: #d91111;
    --ion-color-danger-rgb: 217,17,17;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #bf0f0f;
    --ion-color-danger-tint: #dd2929;

    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34,34,34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244,244,244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}

ion-button{
    --color: #ffffff;
}

ion-loading{
    --background: #ffffff !important;
}

ion-alert{
    --background: #ffffff !important;
}

ion-item{
    --border-color: white !important;
    --padding-end: 20px !important;
    --padding-bottom: 0px !important;
    --padding-top: 0px !important;
}

ion-card{
    --background: white!important;
}

ion-thumbnail{
    background: white !important;
}

ion-label{
    --color: white !important;
}
