// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
/*:root,
:root[mode="md"],
:root[mode="ios"]{
--ion-font-family: 'Anton', sans-serif;;
font-family :var(--ion-font-family) !important;
}
*/
  @font-face {
    font-family: 'Copperplate Bold';
    font-style: normal;
    font-weight: bold;
    src: local('Copperplate Gothic Std 33 BC'), url('../assets/Copperplate-Gothic-Std-33-BC.woff') format('woff');
    }

$background-ios-color: #fff;
$background-md-color: #fff;
$background-wp-color: #fff;
$color-gold: #e69414;
$color-green: #00FF00;
$color-blue: #0000FF;
ion-input{
    --background: #ffffff;
    --color: #929599;
}

.header-md:after{
    display: none ;
} 

.op_highlighted{
    background-color:  #B1935F!important;
}
.box-shadow{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.h-48{
    min-height: 41px
}

ion-input{
    //--background: #ffffff;
    --color: #929599;
    border: 0px!important;

}
form ion-item{
    --ion-background-color:#fff;
    margin-bottom: 1.5rem;
    --border-radius:10px;
    --highlight-color-focused:none;
}
.box-shadow{
    margin: 20px 0;
    clear: both;
}

ion-toolbar{
    ion-buttons{
        color: #fff;
    }
    ion-title{
        color: #fff;
    }
}

