<ion-app>
    <ion-split-pane [when]="splitPane.getSplitPane()">
        <ion-menu [disabled]="splitPane.getMenuActive()">
            <ion-header>
                <!-- <ion-toolbar>
                    <ion-title>Menu</ion-title>
                </ion-toolbar> -->
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [class]="p.class" [routerDirection]="'root'" [routerLink]="[p.url]">
                          
                            <ion-label>
                                {{ p.title }}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
<style>
ion-item {
    --border-color:transparent!important;
}
.sc-ion-label-md-h{
    font-family: 'Copperplate Bold'!important;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
</style>