.contenedor{
    position: relative;
    text-align: center;
    margin: 0 40px;
    border-radius: 20px;
    background: #fff;
}

.texto-encima{
    font-size: 14px;
    color: white;
    position: absolute;
    top: 90%;
    left: 30%;
    transform: translate(-90%, -10%);
    font-weight: bold;
}
ion-img {
    height: 200px;
    padding: 20px 0;
    margin-bottom: 20px;
}
ion-col {
    padding: 0 20px;
    h2 {
        color: #B1935F;
        font-size: 20px;
        margin-bottom: 2px;
    }
    h3 {margin: 0;
    font-size: 14px;
    font-weight: bold;
        label{
            font-weight: normal;
        }
        span{
            margin-left: 10px;
        }
    }  
}