<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="categories"></ion-back-button>
        </ion-buttons>
        <ion-title>Detalle del producto</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="isConnected">

        <div class="contenedor">
            <ion-img src="{{ product.direccionImg == null ? 'assets/icon.jpg' : product.direccionImg }}"></ion-img>
         </div>
        <ion-row>
            <ion-col >
                <h2 class="text-primary">{{ product.descripcion1 }}</h2>
                <h3><label>Precio Unidad</label> / <span class="price">${{ product.precioLista }}</span></h3>
                <p>{{ product.descripcion2 }}</p>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
