<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="categories"></ion-back-button>
        </ion-buttons>
        <ion-title>SUCURSALES</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refrescando...">
        </ion-refresher-content>
    </ion-refresher>
    <div *ngIf="isConnected">
        <ion-card *ngFor="let data of sucursales" (click)="verTienda(data)">
            <ion-card-header>
                {{ data.nombre.toUpperCase() }}
            </ion-card-header>
            <ion-card-content>
                <small>{{ data.direccion.toUpperCase() }}</small>
            </ion-card-content>
        </ion-card>
    </div>
    <div *ngIf="!isConnected" align="center" style="width:100%height:100%;background:translucent;z-index:4000;" (click)="obtenerSucursales()" >
        <ion-img src="assets/error_icon.jpg" style="height:145px;width:145px;margin-bottom:10%;margin-top:40%"></ion-img>
        <br />
        <ion-label color="light" >ESTAS DESCONECTADO</ion-label>
        <br />
        <ion-label color="light">POR FAVOR VERIFICA TU CONEXION A INTERNET E INTENTALO NUEVAMENTE</ion-label>
    </div>
</ion-content>
