<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start"> <ion-back-button defaultHref="categories"></ion-back-button> </ion-buttons>
        <ion-title>PRODUCTOS</ion-title>
        <ion-buttons slot="end"> <ion-menu-button></ion-menu-button></ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar debounce="500" color="light" placeholder="Buscar" :animated="true" [(ngModel)]="termSearched" (ionInput)="filterItems()"></ion-searchbar>
      </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-grid *ngIf="isConnected" style="margin-top:5%;">
        <ion-row justify-content-center align-items-center >
            <ion-col size="12">

                <ion-item class="ion-item-border" *ngFor="let data of filterItems()"  (click)="verProducto(data)">
                    <ion-avatar slot="start">
                        <img style="min-height:100%;max-height:100%; border-radius: 0!important;" src="{{ data.direccionImg == null ? 'assets/icon.jpg' : data.direccionImg }}">
                    </ion-avatar>
                    <ion-label color="black" style="font-size:12px;">{{ data.descripcion1 }} <span class="price">${{ data.precioLista }}</span></ion-label>
                    <ion-icon name="arrow-dropright-circle"></ion-icon>
                </ion-item>

            </ion-col>
        </ion-row>
    </ion-grid>
    <div *ngIf="!isConnected" align="center" style="width:100%height:100%;background:translucent;z-index:4000;" (click)="obtenerProductos()" >

        <ion-img src="assets/error_icon.jpg" style="height:145px;width:145px;margin-bottom:10%;margin-top:40%"></ion-img>
        <br />
        <ion-label color="light" >ESTAS DESCONECTADO</ion-label>
        <br />
        <ion-label color="light">POR FAVOR VERIFICA TU CONEXION A INTERNET E INTENTALO NUEVAMENTE</ion-label>
    </div>
</ion-content>
