<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="categories"></ion-back-button>
        </ion-buttons>
        <ion-title>PERFIL</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="isConnected">
        <ion-row>
            <ion-col text-center>
                <ion-avatar>
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
            </ion-col>
        </ion-row>
        <ion-text id="user">
            <h1 class="text-primary">{{ user.name }}<br /><span>{{ user.id }}</span></h1>
        </ion-text>
        <div size="12" align="center">
            <ion-button (click)="editarPerfil()">Editar perfil</ion-button>
            <br /><br /><br /><br />

            <label>DETALLE DE CONSUMO</label>
        </div>
        <ion-grid>
            <ion-row>
                <ion-col size="4" align="center">
                    <label>FECHA</label>
                </ion-col>
                <ion-col size="4" align="center">
                    <label>CONSUMO</label>
                </ion-col>
                <ion-col size="4" align="center">
                    <label>PAYBACK</label>
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let data of bills">
                <ion-col size="4">
                    {{ formatearFecha(data.fechaEmision) }}
                </ion-col>
                <ion-col>
                    ${{ data.totalNeto.toFixed(2) }}
                </ion-col>
                <ion-col>
                    {{ data.cashBack == "NULL" ? "" : "$" + data.cashBack.toFixed(2) }}
                </ion-col>

            </ion-row>

        </ion-grid>
    </div>
    <div *ngIf="!isConnected" align="center" style="width:100%height:100%;background:translucent;z-index:4000;"
        (click)="obtenerFacturas()">
        <ion-img src="assets/error_icon.jpg" style="height:145px;width:145px;margin-bottom:10%;margin-top:40%">
        </ion-img>
        <br />
        <ion-label color="light">ESTAS DESCONECTADO</ion-label>
        <br />
        <ion-label color="light">POR FAVOR VERIFICA TU CONEXION A INTERNET E INTENTALO NUEVAMENTE</ion-label>
    </div>
</ion-content>
