<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="categories"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ store.nombre.toUpperCase() }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-footer>
    <!-- <ion-buttons slot="start"> -->
        <ion-button class="box-shadow h-48"routerDirection="root" expand="block" (click)="obtenerDirecciones()">IR AL RESTAURANTE</ion-button>
    <!-- </ion-buttons> -->
</ion-footer>

<ion-content>
    <div *ngIf="isConnected">

        <div class="contenedor">
            <ion-img style="min-height:40%;max-height:40%;width:100%;" src="{{ store.imagenSuc == null ? 'assets/icon.jpg' : store.imagenSuc }}"></ion-img>
            <ion-label color="black" class="texto-encima">Packback {{ store.payback*100 }} %</ion-label>
        </div>
        <p style="text-align:justify; margin:20px 15px;font-size:15px;">
            {{ store.descAmplia }}
        </p>
        <div style="width: 100%">
            <iframe *ngIf="isLoaded" width="100%" height="400" [src]="urlMap" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                <a href="https://www.mapsdirections.info/calcular-ruta.html">Calcular Ruta</a>
            </iframe>
        </div>
    </div>
</ion-content>
