.contenedor{
    position: relative;
    text-align: center;
}

.texto-encima{
    font-size: 14px;
    color: white;
    position: absolute;
    top: 90%;
    left: 30%;
    transform: translate(-90%, -10%);
    font-weight: bold;
}
