<ion-content padding>
    <ion-row justify-content-center>
        <ion-col align-self-center size="12" class="logo">
            <ion-img src="/assets/logo.png"></ion-img>
        </ion-col>
    </ion-row>
    <form>
        <ion-grid>
            <ion-row justify-content-center align-items-center style='height: 100%'>
                <ion-col size="12">
                    <ion-item class="ion-item-border">
                        <ion-label>
                            <ion-icon name="person" item-left></ion-icon>
                        </ion-label>
                        <ion-input name="nombre" [(ngModel)]="nombres" type="text" placeholder="Nombre" required></ion-input>
                    </ion-item>
                    <ion-item class="ion-item-border">
                        <ion-label>
                            <ion-icon name="person" item-left></ion-icon>
                        </ion-label>
                        <ion-input name="apellidos" [(ngModel)]="apellidos" type="text" placeholder="Apellidos" required></ion-input>
                    </ion-item>
                    <ion-item class="ion-item-border">
                        <ion-label>
                            <ion-icon name="information-circle-outline" item-left></ion-icon>
                        </ion-label>
                        <ion-input name="dui" [(ngModel)]="user.DUI" type="number" placeholder="DUI" maxlength="9" required></ion-input>
                    </ion-item>
                    <ion-item class="ion-item-border">
                        <ion-label>
                            <ion-icon name="mail" item-left></ion-icon>
                        </ion-label>
                        <ion-input name="email" [(ngModel)]="user.Correo" type="email" placeholder="correo" required></ion-input>
                    </ion-item>
                    <ion-item class="ion-item-border">
                        <ion-label>
                            <ion-icon name="lock" item-left></ion-icon>
                        </ion-label>
                        <ion-input name="password" [(ngModel)]="Contrasena" type="password" placeholder="Contraseña" required></ion-input>
                    </ion-item>
                    <ion-item class="ion-item-border">
                        <ion-label>
                            <ion-icon name="lock" item-left></ion-icon>
                        </ion-label>
                        <ion-input name="repeatPassword" [(ngModel)]="Contrasena2" type="password" placeholder="Repita su contraseña" required></ion-input>
                    </ion-item>
                    <!-- <ion-item class="ion-item-border">
                        <ion-label>
                            <ion-icon name="calendar" item-left></ion-icon>
                            F. Nacimiento
                        </ion-label>
                        <ion-datetime name="birthday"></ion-datetime>
                    </ion-item> -->
                    <ion-item class="ion-item-border">
                        <ion-label>
                            <ion-icon name="call" item-left></ion-icon>
                        </ion-label>
                        <ion-input name="phoneNumber" [(ngModel)]="user.Telefono" type="number" placeholder="Telefono" required></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <ion-icon name="male" item-left></ion-icon>
                            Sexo
                        </ion-label>
                        <ion-select name="sexo" [(ngModel)]="user.Sexo" placeholder="Selecciona">
                            <ion-select-option value="FEMENINO">Femenino</ion-select-option>
                            <ion-select-option value="MASCULINO">Masculino</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-checkbox name="terminosCondiciones" style="margin-top:5%;" color="primary" [(ngModel)]="terminosCondiciones"></ion-checkbox>
                    <ion-label style="margin-left: 10px;">Acepto los terminos y condiciones</ion-label>

                    <ion-button class="box-shadow h-48" style="margin-top:10%;" (click)="registrarme()" routerDirection="root" expand="block" style="margin-top:10%">REGISTRARME</ion-button>
                </ion-col>
            </ion-row>


        </ion-grid>
    </form>

</ion-content>
